// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.main-color{
  background-color: #47b9d7;
  text-align: center;
  border-radius: 20px;
}

.link-post{
  color: #47b9d7 !important;
  font-size: 30px;
  float: left;
}
